* {
  margin: 0;
  padding: 0;

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
  }
}

.header {
  min-height: 100vh;
  width: 100%;

  background: url(../imagen/1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#text-containerle {
  margin-top: 25px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  animation: fade 1s linear;

}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Estilo de la barra de navegación */
.navbar {
  margin-left: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
}

/* Estilo del logo */
.logo {
  flex: 1;
  padding: 38px;
  display: flex;
}

#logoText {
  font-size: 25px;
  font-weight: bold;
  margin-left: 11px;
  padding: 18px;
}

/* Estilos responsivos */

@media (max-width: 1024px) {
  #logoText {
    font-size: 20px;
    margin-left: 5px;
    padding: 2px;
  }
}

@media (max-width: 768px) {
  #logoText {
    font-size: 20px;
    margin-left: 5px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  #logoText {
    font-size: 18px;
    margin-left: 0;
    padding: 10px;
  }
}

.logo-img {
  width: 100px;
  height: auto;
}

/* Estilo de los enlaces de navegación */
.nav-links {
  max-height: 27px;
  margin-top: 90px;
  margin-right: 60px;
  display: flex;
  list-style: none;
  transform: translate(-1%, -60%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgb(255, 0, 0);
  z-index: 1200;
}

.nav-links li {
  margin-left: 30px;
  position: relative;
  list-style-type: none;
}

/* Estilo de los botones principales (enlaces principales) */
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los botones principales */
.nav-links li a:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  top: 35px;
  min-width: 180px;
  z-index: 1;
  border-radius: 5px;
}

/* Estilo de los enlaces dentro del menú desplegable */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los enlaces desplegables */
.dropdown-content li a:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo de la hamburguesa para móviles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
}

@media (max-width: 968px) {
  .nav-links {
    max-height: 260px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-links {
    max-height: 260px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .nav-links {
    max-height: 260px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 200px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text-box h1 {
  font-size: 56px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 22px;
  color: #f0f0f0;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .text-box {
    width: 80%;
    top: 70%;
    padding: 15px;
  }

  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .text-box {
    width: 90%;
    top: 63%;
    padding: 10px;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-box {
    width: 90%;
    top: 60%;
    padding: 8px;
  }

  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 14px;
  }
}

/*calendario*/
.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.date-message {
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  max-width: 1100px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.date-message::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background: linear-gradient(90deg, #4caf50, #1e90ff);
  margin: 10px auto 0;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .calendario {
    flex-direction: column;
    padding: 15px;
    margin: 15px;
  }

  .date-message {
    font-size: 24px;
    padding: 10px 20px;
    max-width: 900px;
  }

  .date-message::after {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .calendario {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }

  .date-message {
    font-size: 20px;
    padding: 8px 15px;
    max-width: 700px;
  }

  .date-message::after {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .calendario {
    flex-direction: column;
    padding: 3px;
    margin: 2px;
  }

  .date-message {
    font-size: 16px;
    padding: 5px 10px;
    max-width: 100%;
  }

  .date-message::after {
    width: 50%;
  }
}

/*brnregistrate*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: #000000;
  position: relative;
  cursor: pointer;
  font-size: 24px;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media (max-width: 1024px) {
  .hero-btn {
    padding: 10px 30px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero-btn {
    padding: 8px 24px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .hero-btn {
    padding: 6px 20px;
    font-size: 16px;
    width: 40%;
    text-align: center;
  }
}

/* Texto de objetivos */
.texto-objetivos {
  text-align: left;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}

.texto-objetivos h2 {
  font-size: 30px;
  text-align: center;
}

.texto-objetivos p {
  padding: 0 20px;
  font-size: 20px;
}

.texto-objetivos a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 10px;
}

/* Carrusel */
.carusel {
  position: relative;
  width: 90vw;
  height: 70vh;
  background-color: #e0e0e0;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  margin: 0;
  right: 270px;
}

.carruseles {
  display: flex;
  width: calc(100% * 17);
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider-section {
  width: calc(100% / 17);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-section img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  border-radius: 0;
}

/* Botones de navegación */
.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #333333d4;
  color: #fff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

@media (max-width: 1124px) {
  .carusel {
    width: 120%;
    height: 50vh;
    position: relative;
    right: 9%;
  }

  .carruseles {
    width: calc(100% * 17);
  }

  .slider-section {
    width: calc(100% / 1);
    height: 100%;
  }

  .slider-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 924px) {
  .carusel {
    width: 100%;
    height: 43vh;
    position: relative;
    right: 1%;
  }

  .carruseles {
    width: calc(100% * 17);
  }

  .slider-section {
    width: calc(100% / 1);
    height: 100%;
  }

  .slider-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .carusel {
    width: 95vw;
    height: 42vh;
    left: -1%;
  }
}

.slider-section {
  width: calc(100% / 5);
}

.btn-left,
.btn-right {
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .carusel {
    width: 90vw;
    height: 24vh;
    left: 1%;
  }

  .slider-section {
    width: calc(100% / 2);
  }

  .btn-left,
  .btn-right {
    font-size: 1rem;
  }
}

/*course*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  font-size: 28px;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .course {
    width: 90%;
    padding-top: 80px; /* Menos espacio arriba */
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .row {
    margin-top: 5%;
    flex-direction: row; /* Alinea las columnas en fila */
  }

  .course-col {
    flex-basis: 45%; /* Dos columnas por fila */
    margin-bottom: 20px;
  }
}

/* Pantallas de hasta 768px */
@media (max-width: 768px) {
  .course {
    width: 95%;
    padding-top: 60px; /* Aumenta la altura de padding-top */
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .row {
    margin-top: 5%;
    flex-direction: column; /* Las columnas se alinean verticalmente */
  }

  .course-col {
    flex-basis: 90%; /* Las columnas ocupan casi todo el ancho */
    margin-bottom: 20px;
  }
}

/* Pantallas de hasta 480px */
@media (max-width: 480px) {
  .course {
    width: 100%;
    padding-top: 40px; /* Menos padding arriba */
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .row {
    margin-top: 5%;
    flex-direction: column; /* Las columnas se alinean en una sola columna */
  }

  .course-col {
    flex-basis: 100%; /* Cada columna ocupa el 100% del ancho */
    margin-bottom: 20px;
    padding: 20px 10px; /* Ajuste de padding */
  }
}

/*campus*/
.campus {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 90%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 28px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*facilities*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facility-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facility-col img {
  width: 100%;
  border-radius: 10px;
}

.facility-col p {
  padding: 0;
  font-size: 20px;
}

.facility-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

@media (max-width: 768px) {
  .campus-col {
    flex-basis: 100%;
  }

  .campus-col img {
    width: 100%;
  }

  .facility-col {
    flex-basis: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .campus-col {
    flex-basis: 48%;
  }

  .facility-col {
    flex-basis: 48%;
  }
}

@media (min-width: 1025px) {
  .campus-col {
    flex-basis: 32%;
  }

  .facility-col {
    flex-basis: 31%;
  }
}

/*testimonial*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
  font-size: 20px;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
  font-size: 28px;
}

.testimonial-col i {
  color: #f44336;
}

@media (max-width: 700px) {
  .tertimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* call to action*/
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(pagina/logo.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #000000;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons i {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.box h2 {
  color: rgba(192, 252, 255, 0.701);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px #1aa2e181;
  font-family: fantasy;
  font-size: 2.5rem;
}

.footer p {
  color: #d0cfcf;
}

@media (max-width: 1024px) {
  .footer {
    padding: 20px 0;
  }

  .footer h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .icons i {
    margin: 0 10px;
    font-size: 1.2rem;
  }

  .box h2 {
    font-size: 2rem;
    -webkit-text-stroke: 1px #1aa2e181;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }

  .footer h4 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .icons i {
    margin: 0 8px;
    font-size: 1rem;
  }

  .box h2 {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.8px #1aa2e181;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 0;
  }

  .footer h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .icons i {
    margin: 0 5px;
    font-size: 0.9rem;
  }

  .box h2 {
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px #1aa2e181;
  }
}

/*Linea de tiempo*/

:root {
  --theme: #ee1f04;
  --border-color: #ffffff;
}

.contenido-linea {
  position: relative;
  right: 5%;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 5px auto;
  padding: 110px;

  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.timeline-title {
  position: relative;
  margin: 20px 0 90px 0;
  font-weight: 400;
}

.timeline-title span {
  position: relative;
  z-index: 2;
  padding: 4px 16px;
  background: var(--main-bg);
}

.timeline-title::before {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 70%;
  content: "";
  border-top: solid 2px var(--border-color);
}

.timeline-body {
  position: relative;
  display: flex;
}

.timeline-body::before,
.timeline-body::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  z-index: 4;
  margin-top: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--theme);
}

.timeline-body::before {
  left: -8px;
}

.timeline-body::after {
  left: 1285px;
  right: -8px;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 380px;
  margin-left: -2px;
  border-radius: 100px;
}

.timeline-item::before {
  position: absolute;
  display: block;
  width: 216px;
  height: 90px;
  content: "";
  border: dashed 2px var(--border-color);
  border-top: none;
  border-bottom: none;
}

.timeline-item:nth-child(odd)::before {
  bottom: 100px;
}

.timeline-item:nth-child(even)::before {
  top: 100px;
}

.timeline-item::after {
  position: absolute;
  display: block;
  width: 216px;
  height: 100px;
  content: "";
  border: dashed 2px var(--border-color);
}

.timeline-item:nth-child(odd)::after {
  left: 0;
  bottom: 0;
  border-top: none;
  border-radius: 0 0 10rem 10rem;
}

.timeline-item:nth-child(even)::after {
  left: 0;
  top: 0;
  border-bottom: none;
  border-radius: 10rem 10rem 0 0;
}

.item-year {
  position: absolute;
  top: -15px;
  z-index: 2;
  width: 100px;
  height: 45px;
  padding-top: 9px;
  border-radius: 30px 30px 90px 90px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fff;
  background: var(--theme);
}

.item-body {
  position: relative;
  z-index: 3;
  width: 190px;
  height: 340px;
  padding: 50px 10px 10px;
  border-radius: 90px;
  border-left: solid 2px #fcfcfc;
  border-top: solid 2px #fcfcfc;
  box-shadow: inset 1px 1px 5px rgba(225, 225, 225, 0.8),
    inset -1px -1px 5px rgba(0, 0, 0, 0.2), 5px 15px 20px rgba(0, 0, 0, 0.2);
  background: rgba(211, 219, 235, 0.5);
  backdrop-filter: blur(8px);
}

.item-icon {
  font-size: 50px;
  color: color-mix(in srgb, var(--theme) 75%, #fff);
}

.item-title {
  font-weight: 600;
}

.item-text {
  font-size: 14px;
}

.item-text::before {
  display: block;
  width: 40%;
  height: 3px;
  margin: 18px auto;
  border-radius: 2px;
  content: "";
  background: color-mix(in srgb, var(--theme) 50%, #fff);
}


@media (max-width: 1115px) {
  .timeline {
    padding: 10px;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin: 0 auto;
    left: 3%;
    margin-top: 5%;
  }

  .timeline-item {
    width: 200px;
    height: 350px;
    margin: 20px;
    border-radius: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-item::before,
  .timeline-item::after {
    display: none;
  }

  .item-body {
    width: 180px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-title {
    display: none;
  }

  .timeline-body::before,
  .timeline-body::after {
    display: none;
  }
}

@media (max-width: 1024px) {
  .timeline {
    padding: 10px;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 98%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .timeline-item {
    width: 200px;
    height: 350px;
    margin: 20px;
    border-radius: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-item::before,
  .timeline-item::after {
    display: none;
  }

  .item-body {
    width: 180px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-title {
    display: none;
  }

  .timeline-body::before,
  .timeline-body::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .contenido-linea {
    margin-top: 20%;
   
  }

  .timeline {
    padding: 20px;
    flex-direction: row-reverse;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 90%;
   
  }

  .timeline-item {
    width: 180px;
    height: 320px;
    margin: 32px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-item::before,
  .timeline-item::after {
    display: none;
  }

  .item-body {
    width: 150px;
    height: 200px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }

  .timeline-title {
    display: none;
  }

  .timeline-body::before {
    left: -8px;
    right: 1285px;
  }

  .timeline-body::after {
    left: 1285px;
    right: -8px;
  }
}

@media (max-width: 480px) {
  .timeline {
    padding: 20px;
    flex-direction: row-reverse;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 90%;
  }

  .timeline-item {
    width: 180px;
    height: 320px;
    margin: 32px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline-item::before,
  .timeline-item::after {
    display: none;
  }

  .item-body {
    width: 150px;
    height: 200px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }

  .timeline-title {
    display: none;
  }

  .timeline-body::before {
    left: -8px;
    right: 1285px;
  }

  .timeline-body::after {
    left: 1285px;
    right: -8px;
  }
}
