/*encabezado*/
/* Reseteo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
  }
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../Imagen/enca.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Estilo de la barra de navegación */
.navbar {
  margin-left: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
}

/* Estilo del logo */
.logo {
  flex: 1;
  padding: 40px;
  display: flex;
}

#logoText {
  font-size: 25px;
  font-weight: bold;
  margin-left: 11px;
  padding: 18px;
}
/* Estilos responsivos */
@media (max-width: 768px) {
  #logoText {
    font-size: 20px;
    margin-left: 5px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  #logoText {
    font-size: 18px;
    margin-left: 0;
    padding: 10px;
  }
}
.logo-img {
  width: 100px;
  height: auto;
}

/* Estilo de los enlaces de navegación */
.nav-links {
  max-height: 57px;
  margin-top: 90px;
  margin-right: 60px;
  display: flex;
  list-style: none;
  transform: translate(-1%, -60%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgb(255, 0, 0);
  z-index: 1200;
}

.nav-links li {
  margin-left: 30px;
  position: relative;
  list-style-type: none;

}

/* Estilo de los botones principales (enlaces principales) */
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los botones principales */
.nav-links li a:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  top: 35px;
  min-width: 180px;
  z-index: 1;
  border-radius: 5px;
}

/* Estilo de los enlaces dentro del menú desplegable */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los enlaces desplegables */
.dropdown-content li a:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#text-containerle {
  margin-top: 25px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

/* Estilo de la hamburguesa para móviles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
}

@media (max-width: 968px) {
  .nav-links {
    max-height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-links {
    max-height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}


@media (max-width: 480px) {
  .nav-links {
    max-height: 290px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 200px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text-box h1 {
  font-size: 56px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 22px;
  color: #f0f0f0;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1024px) {
  .text-box {
    width: 80%;
    top: 65%;
    padding: 15px;
  }

  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .text-box {
    width: 90%;
    top: 50%;
    padding: 10px;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-box {
    width: 90%;
    top: 55%;
    padding: 8px;
  }

  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 14px;
  }
}

/*calendario*/
.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.date-message {
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  max-width: 1100px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.date-message::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background: linear-gradient(90deg, #4caf50, #1e90ff);
  margin: 10px auto 0;
  border-radius: 2px;
}

/*brnregistrate*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: #000000;
  position: relative;
  cursor: pointer;
  font-size: 24px;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media (max-width: 1024px) {
  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 20px;
  }

  .date-message {
    font-size: 24px;
    padding: 10px 20px;
  }

  .hero-btn {
    font-size: 20px;
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .text-box {
    width: 90%;
    padding: 15px;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box p {
    font-size: 18px;
  }

  .date-message {
    font-size: 20px;
    padding: 10px 15px;
  }

  .hero-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 16px;
  }

  .date-message {
    font-size: 18px;
    padding: 8px 10px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 8px 15px; 
  }
}

/*cuerpo*/
.mensaje {
  font-size: 35px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  margin-top: 20px;
  color: #dd0606;
}

.bloques {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #faa228f8;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
}

.bloque {
  background: #2367c7e3;
  padding: 2rem;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  border: 2px solid #f44336;
}

.tex1 {
  font-size: 1.3rem;
}

.bloque img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-bottom: 1rem;
  border: 2px solid #f44336;
}

@media (max-width: 968px) {
  .mensaje {
    font-size: 20px;
  }
}

@media (max-width: 668px) {
  .bloques {
    font-size: 18px;
    flex-direction: column; 
    align-items: center;
  }

  .bloque {
    width: 80%; /* Reducir el ancho en pantallas pequeñas */
    margin-bottom: 1.5rem;
  }

  .tex1 {
    font-size: 1.1rem;
  }
}

.enca {
  text-align: center;
  font-size: 32px;
  margin-top: 60px;
  color: #dd0606;
}

.pricipalVe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-container {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  align-items: center;
}

/* Imagen */
.image-container {
  flex: 1 1 400px; /* Ocupa un espacio fijo inicialmente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
  transition: transform 0.5s ease;
  border: 4px solid #f44336;
}

.responsive-image:hover {
  transform: scale(1.2);
}

/* Bloques */
.blocks-container {
  flex: 1 1 400px; /* Ocupa un espacio fijo inicialmente */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px;
}

.block {
  flex: 1 1 calc(33.333% - 20px); /* Tres columnas en pantallas grandes */
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  border-top: 4px solid var(--highlight-color);
}

.block h3 {
  font-size: 1.4rem;
  color: var(--title-color);
  margin-bottom: 10px;
}

.block:hover {
  transform: translateY(-10px);
  background-color: #f0a71eed;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
      align-items: center;
  }

  .blocks-container {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .block {
      padding: 15px;
  }

  .responsive-image {
      max-width: 300px;
  }
}

.container2 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 90%; 
  max-width: 1200px; 
  margin: auto;
  padding: 1.5rem; 
  background-color: #1a52ccd2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
}

/* Bloque de Texto */
.text-block2 {
  width: 48%; 
  padding: 1rem;
}

.text-block2 h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-block2 p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Bloque de Imagen */
.image-block2 {
  width: 48%;
  text-align: center; 
}

.image-block2 img {
  width: 100%; 
  height: auto; 
  border-radius: 10px;
}

/* Responsividad - Pantallas medianas y pequeñas */
@media (max-width: 768px) {
  .container2 {
    flex-direction: column; 
    text-align: center;
  }

  .text-block2,
  .image-block2 {
    width: 100%; 
    padding: 1rem;
  }

  .image-block2 img {
    margin-top: 1rem;
  }
}

/* Contenedor principal */
.containervm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}

/* Cuadros */
.boxvm {
  flex: 1 1 calc(33.333% - 20px); /* Tres columnas en pantallas grandes */
  max-width: calc(33.333% - 20px);
  background-color: #f0a71eed;
  border: 2px solid #b30606;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
  transition: transform 0.3s ease;
}

.encabe{
  font-size: 22px;
}

.boxvm:hover {
  transform: translateY(-10px);
}

/* Responsive */
@media (max-width: 768px) {
  .boxvm {
    flex: 1 1 calc(50% - 20px); /* Dos columnas en pantallas medianas */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 580px) {
  .boxvm {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
    max-width: 100%;
  }
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
  align-items: center;
}

.image-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease;
  border: 2px solid #b30606;
}

.image-container img:hover {
  transform: scale(1.1);
}

.text-content {
  flex: 1 1 55%;
  padding: 20px;
  background-color: #c20717ea;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
}

.text-content1 {
  flex: 1 1 55%;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #c20717ea;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
}

.text-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000000;
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 10px;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .image-container {
    flex: 1 1 80%;
  }

  .text-content {
    flex: 1 1 100%;
  }

  .text-content1 {

    padding: 20px;
    font-size: 1rem;

  }
  
  .text-content h2 {
    font-size: 1.1rem;

  }
  
  .text-content p {
    font-size: 1rem;
  }
}

:root {
  --bg-color: #f4f9f9; /* Fondo general */
  --card-bg-color: #ffffff; /* Fondo de los cuadros */
  --text-color: #333333; /* Color del texto principal */
  --title-color: #2b7a78; /* Color de los títulos */
  --highlight-color: #3aafa9; /* Color para acentos o enlaces */
  --shadow-color: rgba(0, 0, 0, 0.858); /* Sombra de los cuadros */
}

.containervent {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.feature-card {
  flex: 1 1 calc(33.333% - 20px); /* Tres columnas en pantallas grandes */
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  border-top: 4px solid var(--highlight-color);
}

.feature-card:hover {
  transform: scale(1.05);
}

.feature-card h3 {
  font-size: 1.4rem;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .feature-card {
    flex: 1 1 calc(50% - 20px); /* Dos columnas en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .feature-card {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
  }
}

.acordionC {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

/* Estilos del Acordeón */
.accordion-container {
  width: 100%;
  max-width: 900px;
}

.accordion-item {
  background-color: #911919;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Encabezado del Acordeón */
.accordion-header {
  padding: 1.5rem;
  background-color: #edc01e;
  cursor: pointer;
}

.accordion-header h2 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

/* Contenido del Acordeón (Oculto por defecto) */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  background-color: #ffffff;
  transition: max-height 0.8s ease;
}

/* Asegura que las imágenes sean responsivas dentro del acordeón */
.accordion-content img {
  width: 60%; 
  height: auto;
  margin-top: 1rem; 
  margin-left: 20%;
}

/* Estilos para cuando el contenido se expande */
.accordion-item.active .accordion-content {
  max-height: 300px; 
  padding-top: 1.5rem;
}

/* Estilo de las listas */
ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
  color: #000000;
}

/* Responsividad */
@media (max-width: 768px) {
  .accordion-header h2 {
    font-size: 1.2rem;
  }
}

.containerve {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.858);
  padding: 20px;
}

.product-image {
  max-width: 400px;
  flex: 1;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
}

.product-content {
  flex: 2;
  padding: 20px;
}

.product-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.product-description {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

.product-price {
  font-size: 22px;
  color: #007BFF;
  margin-bottom: 20px;
  font-weight: bold;
}

.botonv {
  text-decoration: none;
  background: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.botonv:hover {
  background: #e5b112;
  transform: scale(1.05);
  text-decoration: none; /* Asegúrate de que no reaparezca la raya */
}

@media (max-width: 768px) {
  .containerve {
      flex-direction: column;
  }

  .product-content {
      text-align: center;
  }
}

/*Pie de Pagina*/
footer {
  background: #000000;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.icons i {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.focl {
  color: #d0cfcf;
  margin-top: 25px;
  font-size: 20px;
}

.h2f {
  color: rgba(192, 252, 255, 0.701);
  -webkit-text-stroke: 1.5px #1aa2e181;
  margin-top: 15px;
  font-family: fantasy;
  font-size: 2.5rem;
}
