/*encabezado*/
/* Reseteo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
  }
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../imagen/enca.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Estilo de la barra de navegación */
.navbar {
  margin-left: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: white;
}

/* Estilo del logo */
.logo {
  flex: 1;
  padding: 40px;
  display: flex;
}

#logoText {
  font-size: 25px;
  font-weight: bold;
  margin-left: 11px;
  padding: 18px;
}
/* Estilos responsivos */
@media (max-width: 768px) {
  #logoText {
    font-size: 20px;
    margin-left: 5px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  #logoText {
    font-size: 18px;
    margin-left: 0;
    padding: 10px;
  }
}
.logo-img {
  width: 100px;
  height: auto;
}

/* Estilo de los enlaces de navegación */
.nav-links {
  max-height: 57px;
  margin-top: 90px;
  margin-right: 60px;
  display: flex;
  list-style: none;
  transform: translate(-1%, -60%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgb(255, 0, 0);
  z-index: 1200;
}

.nav-links li {
  margin-left: 30px;
  position: relative;
  list-style-type: none;

}

/* Estilo de los botones principales (enlaces principales) */
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los botones principales */
.nav-links li a:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  top: 35px;
  min-width: 180px;
  z-index: 1;
  border-radius: 5px;
}

/* Estilo de los enlaces dentro del menú desplegable */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* Cambia de color cuando se pasa el cursor por los enlaces desplegables */
.dropdown-content li a:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo de la hamburguesa para móviles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
}

@media (max-width: 968px) {
  .nav-links {
    max-height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-links {
    max-height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 250px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links {
    margin-right: 2px;
    margin-top: 2px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .content-wrapper {
    flex-direction: column;
  }
}


@media (max-width: 480px) {
  .nav-links {
    max-height: 290px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #303030;
    height: auto;
    width: 200px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text-box h1 {
  font-size: 56px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 22px;
  color: #f0f0f0;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1024px) {
  .text-box {
    width: 80%;
    top: 65%;
    padding: 15px;
  }

  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .text-box {
    width: 90%;
    top: 50%;
    padding: 10px;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-box {
    width: 90%;
    top: 55%;
    padding: 8px;
  }

  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 14px;
  }
}
/*calendario*/
.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.date-message {
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  max-width: 1100px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.date-message::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background: linear-gradient(90deg, #4caf50, #1e90ff);
  margin: 10px auto 0;
  border-radius: 2px;
}

#text-containerle {
  margin-top: 25px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

/*brnregistrate*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: #000000;
  position: relative;
  cursor: pointer;
  font-size: 24px;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media (max-width: 1024px) {
  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 20px;
  }

  .date-message {
    font-size: 24px;
    padding: 10px 20px;
  }

  .hero-btn {
    font-size: 20px;
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .text-box {
    width: 90%;
    padding: 15px;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box p {
    font-size: 18px;
  }

  .date-message {
    font-size: 20px;
    padding: 10px 15px;
  }

  .hero-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 16px;
  }

  .date-message {
    font-size: 18px;
    padding: 8px 10px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 8px 15px; /* Ajustar padding del botón */
  }
}

/*cuerpo*/
/*giro flip*/
.gallery {
  display: flex; /* Usamos flexbox para que los elementos se alineen en fila */
  flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas si es necesario */
  justify-content: center; /* Alinea los elementos centrados horizontalmente */
  gap: 20px; /* Añade espacio entre los elementos */
}

/* Contenedor que maneja el efecto flip (volteo) */
.flip-container {
  perspective: 1000px; /* Da profundidad al efecto 3D, simula una perspectiva realista */
  width: 100%;
  max-width: 300px;
  cursor: pointer; /* Cambia el cursor cuando el usuario pasa el ratón por encima */
}

/* Elemento interno que contiene las dos caras (front y back) */
.flipper {
  position: relative; /* Permite que los hijos (front y back) se posicionen de manera absoluta dentro de este contenedor */
  width: 100%;
  height: 0; /* Establecemos la altura a 0 y usamos padding-bottom para crear la relación de aspecto */
  padding-bottom: 66.67%; /* Relación de aspecto 3:2 (300x200) */
  transform-style: preserve-3d; /* Mantiene las transformaciones en 3D para las caras */
  transition: transform 0.6s;
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute; /* Posiciona cada cara para que ocupen todo el espacio del contenedor flipper */
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde la cara trasera cuando está girada */
}

/* Estilo de la imagen en la cara frontal */
.front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor sin deformarse */
}

/* Estilo de la cara trasera */
.back {
  background-color: #2980b9;
  color: white;
  display: flex; /* Uso de flexbox para centrar el contenido */
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg); /* Rota la cara trasera para que esté en la posición correcta en el giro */
  font-size: 1.2rem;
  padding: 10px; /* Añade espacio interno alrededor del contenido */
  box-sizing: border-box; /* Incluye padding dentro del tamaño total del elemento */
}

/*contenido*/
main {
  margin: auto;
  padding: 20px;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.content-row p {
  width: 100%; /* Ancho de los párrafos en pantallas grandes */
}

.content-row img {
  width: 400; /* Ancho de las imágenes en pantallas grandes */
  height: auto; /* Mantiene la proporción de las imágenes */
  border-radius: 8px; /* Bordes redondeados */
  border: 10px solid #bb0000;
}

.text-content {
  flex: 2;
  padding: 30px; /* Espacio alrededor del texto */
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Coloca el texto y la imagen a los extremos */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando la pantalla sea pequeña */
  text-align: justify;
}
.subtitulo {
  color: #dd0606;
  font-size: 40px;
}

/*responsi del contenido e imagenes*/
@media (max-width: 768px) {
  .content-row {
    flex-direction: column; /* Apila el párrafo y la imagen verticalmente */
  }

  .content-row p {
    width: 100%; /* El párrafo ocupa el 100% del ancho */
  }
  .front img {
    width: 80%;
    height: auto;
    margin-top: 20px; /* Aumenta la separación entre el párrafo y la imagen */
    margin-left: 100px;
  }
}

/*Pie de Pagina*/
footer {
  background: #000000;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.icons i {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.focl {
  color: #d0cfcf;
  margin-top: 25px;
  font-size: 20px;
}
h2 {
  color: rgba(192, 252, 255, 0.701);
  -webkit-text-stroke: 1.5px #1aa2e181;
  margin-top: 15px;
  font-family: fantasy;
  font-size: 2.5rem;
}
p {
  font-size: 25px;
  margin-bottom: 20px;
  color: #000000;
}
